<ng-template #dialogUi>
    <div>
        <!-- Header -->
        <div mat-dialog-title class="text-base text-primary-600 bg-accent-100">
            <ng-content select="[modal-header]"></ng-content>
        </div>

        <!-- Body -->
        <div mat-dialog-content>
            <ng-content select="[modal-body]"></ng-content>
        </div>

        <!-- Footer -->
        <div mat-dialog-actions style="flex-wrap: unset; display: block">
            <ng-content select="[modal-footer]"></ng-content>
        </div>
    </div>
</ng-template>
