// http://mcg.mbitson.com/#!?mcgpalette0=%23bf9616&themename=mcgtheme
:root {
  --primary-color-50: #e8f0f8;
  --primary-color-100: #c5daee;
  --primary-color-200: #9ec2e3;
  --primary-color-300: #77aad7;
  --primary-color-400: #5a97cf;
  --primary-color-500: #3d85c6;
  --primary-color-600: #377dc0;
  --primary-color-700: #2f72b9;
  --primary-color-800: #2768b1;
  --primary-color-900: #1a55a4;

  --accent-color-50: #ececeb;
  --accent-color-100: #cfcece;
  --accent-color-200: #afaead;
  --accent-color-300: #8e8e8c;
  --accent-color-400: #767573;
  --accent-color-500: #5e5d5a;
  --accent-color-600: #565552;
  --accent-color-700: #4c4b48;
  --accent-color-800: #42413f;
  --accent-color-900: #31302e;

  --warn-color-50: #ffe0e0;
  --warn-color-100: #ffb3b3;
  --warn-color-200: #ff8080;
  --warn-color-300: #ff4d4d;
  --warn-color-400: #ff2626;
  --warn-color-500: #ff0000;
  --warn-color-600: #ff0000;
  --warn-color-700: #ff0000;
  --warn-color-800: #ff0000;
  --warn-color-900: #ff0000;
  --warn-color-a100: #ffffff;
  --warn-color-a200: #fff2f2;
  --warn-color-a400: #ffbfbf;
  --warn-color-a700: #ffa6a6;

  --contrast-color-50: #ffffff;
  --contrast-color-100: #ffffff;
  --contrast-color-200: #ffffff;
  --contrast-color-300: #ffffff;
  --contrast-color-400: #ffffff;
  --contrast-color-500: #ffffff;
  --contrast-color-600: #ffffff;
  --contrast-color-700: #ffffff;
  --contrast-color-800: #ffffff;
  --contrast-color-900: #ffffff;
  --contrast-color-a100: #ffffff;
  --contrast-color-a200: #ffffff;
  --contrast-color-a400: #ffffff;
  --contrast-color-a700: #ffffff;

  --secondary-color-50: #f7f2e3;
  --secondary-color-100: #ece0b9;
  --secondary-color-200: #dfcb8b;
  --secondary-color-300: #d2b65c;
  --secondary-color-400: #c9a639;
  --secondary-color-500: #bf9616;
  --secondary-color-600: #b98e13;
  --secondary-color-700: #b18310;
  --secondary-color-800: #a9790c;
  --secondary-color-900: #9b6806;
  --secondary-color-A100: #ffe9c7;
  --secondary-color-A200: #ffd694;
  --secondary-color-A400: #ffc261;
  --secondary-color-A700: #ffb848;
}
